/* {universal-boxsizing rule */
*{
    box-sizing:border-box;
}

/* boy styling */
body {
    font-family:'Times New Roman', Times, serif;
    background-color:lightblue;
    margin:0px auto;
    padding: 0px auto;
}

*/ card container */
.card {
    max: width 600px;
    margin:0 auto;
    padding: 20px;;
    background-color:light grey;
    border: 4px solid cyan;
    border-radius: ;
    box-shadow: ;
}

*/ text styling */
.card h1 {
    color:black;
    font: size 14px;
    margin-bottom:0 auto;
}

.card p {
    color:blueviolet;
    line-height:0 auto;
}